<!--start imgs container-->
<div class="container">
  <div class="row row_new_hight">
  
      <div class="red">
       

          <div id="small_imgs1"><img src="assets\img\Untitled-1.png"></div>
          <div id="small_imgs2"><img src="assets\img\Untitled-2.png"></div>
          <div id="small_imgs3"><img src="assets\img\Untitled-3.png"></div>
          <div id="small_imgs4"><img src="assets\img\Untitled-4.png"></div>

       
       

          <div class="big_img"></div>

        
      </div>
    
     <!--*************************************************-->
     <div class="green"> <!--start right side -->

        <br>
          <h3 class="text">Name MeTooKey Name</h3>
          
              <div class=" yellow">
                  <nav class="nav star_nav">
                      <div class="star_div">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="far fa-star"></i>
                          <i class="fas fa-caret-down"></i>
                      </div>
                      <div class="flag star_div"><i class="fas fa-flag"></i> ACTIVE METOOKEY <i class="fas fa-check-circle"></i></div>
                      <div class="clock star_div"><i class="far fa-calendar"></i> 2Days Ago <i class="far fa-clock"></i> 15:35PM</div>
                    </nav>
              </div>
            
            <!--************************-->
            
                <div class="aqua">
                    <nav class="nav soail_nav">
                            <div><i class="fas fa-thumbs-up"></i> 233</div>
                            <div class="bord"><i class="fas fa-comment"></i> 233</div>
                            <div class="bord"><i class="fas fa-share"></i> 233</div>
                            <div class="bord"><i class="fas fa-eye"></i> 1.2K</div>
                      </nav>
                </div>
              
              <!--************************-->
              
                  <div class="brown">
                      <nav class="nav">
                             <div class="categories_black"> Categories :</div>
                             <div class="categories_nav">Travel</div>
                             <div class="categories_nav">Fashion</div>
                             <div class="categories_nav">Cars</div>
                             <div class="categories_nav">Fashion</div>
                             <div class="categories_nav">Cars</div>
                        </nav>
                  </div>
               
                <br>
                <!--*************************-->
                
                    <div class="Duration_nav blue">
                        <nav class="Duration_nav">
                            <ul class="Duration">
                                <h1>Duration & Quantity</h1>
                                <div class="LI">
                                  <li>Total Needed Parties : <p> 30 Items</p></li>
                                  <li>Parties Left : <p> 57 Items</p></li>
                                  <li>MeTooKey Ends on : <p> Once Need Parties Is Complete</p></li>
                                </div>
                                </ul>
                        </nav>
                    </div>
                  
                  <!--*************************-->
                  
                      <div class="pink">
                          <ul class="price">
                              <h1>Price Plan</h1>
                              <div class="LI">
                              <li>Deal Budget : <p id="price">300,000</p><p>EGP</p></li>
                              <li>Price Plan Levels : <p>No Levels</p></li>
                            </div>
                            </ul>
                      </div>
                    
               <!--****************************-->
               <div class="menu"> 
                  <div class="counter"> 
                  <div class="attend">
                    <p> Attended Parties </p> 
                    <p id="input">
                        <input type="text"  size="13" placeholder="0" maxlength="3" style="height: 12px;"> 
                        Party </p>
                        <input type="range" size="25" id="rangee" >
                </div>
                        <button type="button" id="btn2" class="btn btn-dark">GET  </button>
                        <button type="button" id="btn1" class="btn btn-light"> <i class="far fa-bell"></i> REMIND ME LATER !</button>
                      </div>
                </div> 
       <!--****************************************************-->
          
    </div> <!--end right side -->
       <!--*************************************************-->
  </div>
</div>
<!--end imgs container-->