<div class="website" id="opening"> 
    <div class="box">  
     
  
  
          
        <button type="button" class="btn btn-dark" id="btnweb">  <i class="fas fa-door-open"></i> Project 1 Angular </button> 
        <button type="button" class="btn btn-dark btn22" >  <i class="fas fa-door-open"></i><a href=" http://localhost:19296/"> Project  2 MVC </a> </button> 

        <h4>   Designed By: </h4>
        <h6> <i class="fas fa-code"></i> Amir Ziani  <i class="fas fa-code"></i>  Abderahman Osama  </h6>
    </div>
  </div>
  