<div class="container-fluid big_div">
  <div class="row  ">
    <div class="col-4 test1">
      <div class="left">
        <p class="head">With</p>
        <p class="body">Get your chance, reach your dream,<br>
          and start your own business here . 
        </p>
        <div class="icones">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-tumblr"></i>
            <i class="fab fa-google-plus-g"></i>
            <i class="fab fa-instagram"></i>
        </div><!--end icones-->
      </div><!--end left-->
    </div><!--end test1-->
    <div class="col-4 test2">
      <div class="middle">
          <p class="head">About</p>
          <ul id="ul_left">
          <li class="li"><i class="fas fa-angle-right"></i><a href="#" class="body">Who We Are</a></li>
          <li class="li"><i class="fas fa-angle-right"></i><a href="#" class="body">Careers</a></li>
          <li class="li"><i class="fas fa-angle-right"></i><a href="#" class="body">Invite Friends</a></li>
        </ul>
        <ul id="ul_right">
          <li class="li"><i class="fas fa-angle-right"></i><a href="#" class="body">Advertise With Us</a></li>
          <li class="li"><i class="fas fa-angle-right"></i><a href="#" class="body">Other Started</a></li>
          <li class="li"><i class="fas fa-angle-right"></i><a href="#" class="body">Follow Category</a></li>
        </ul>
      </div>
     
    </div>
      <div class="col-4 test3">
        <div class="right">
          <p class="head">Download Apps</p>
        <div class="apps">
          <i class="fab fa-google-play"></i>
        <i class="fab fa-apple"></i>
        </div>
        </div>
      </div>
  </div>
</div>


<!--  start darck footer-->


<div class="container-fluid copyright">
  <div class="row">
      <div class="col-12 divall" >
          <nav class="nav star_nav" >
             <div id="klam" > All Rights Reserved. Copyright  <i id="copy" class="far fa-copyright"></i> 2018 </div>
              <div class="flagclock" > 
              <div class="flag" id="klam2">Terms Of use  </div>
              <div class="clock" id="klam3"> Privacy Policy </div>
            </div>
            </nav>
      </div>
    </div>
</div>




