<div class="container-fluid">
    <div class="row">
      <div class="col-12 nav_themes">
        <div class="row">
          <div class="col-6">
              <nav class="left_nav">
                <p class="float_left"><i class="fas fa-phone-volume"></i> Contact Us !</p>
                <p class="float_left"> | </p>
                <p class="float_left"><i class="far fa-question-circle"></i> Help ?</p>
                <p class="float_left"> | </p>
                <p class="float_left"><i class="far fa-envelope-open"></i> Invite Friends</p>
              </nav>
          </div>
          <div class="col-6">
            <nav class="right_nav float_right">
              <p class="float_left"><i class="fas fa-map-marker-alt"></i> Cairo, Egypt <i class="fas fa-angle-down"></i></p>
              <p class="float_left"> | </p>
              <p class="float_left"><i class="fas fa-pound-sign"></i> EGP <i class="fas fa-angle-down"></i></p>
              <p class="float_left"> | </p>
              <p class="float_left"><i class="fas fa-globe-africa"></i> English <i class="fas fa-angle-down"></i></p>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  