<div class="container bar"> 
  <div class="row"> 
    <div class=" left"> 
      <div id="user-img"><h1> X </h1></div>
        <a href="#" id="user-click" >
            <i class="fas fa-user-circle userprofile"></i>  </a>
    </div>
    <div class=" middle"> 
      <div class="up">
        <p id="c_name_11" > Name </p>
        <div class="icons"> 

       <a href="#"> <i class="fab fa-facebook-square icons "></i>  </a>
       <a href="#"> <i class="fab fa-twitter-square icons"></i>  </a>
       <a href="#"> <i class="fab fa-google-plus-square icons"></i>  </a>
       <a href="#"> <i class="fab fa-instagram icons"></i>  </a>

      </div>
         </div>
      <div class="down">
         
        <div class="icon">  
            <div class="firsticon">
          <i class="far fa-smile"  id="smile"></i> 
        <i class="fas fa-star" id="stars"> </i>
         <i class="fas fa-star" id="stars"> </i>
         <i class="fas fa-star" id="stars">  </i> |
         <i class="fas fa-user-plus" id="followers">  </i>   Followers (70)  <button id="btnn1"> Add + </button> |
        </div>
         <div class="secondicon">  <i class="fas fa-times-circle" id="Categories">  </i>  Categories (170) <button id="btn2"> <i class="far fa-thumbs-up"></i>  Check  </button> <a href="#"> ...</a>
        </div>
      </div>
      
        
      </div>
      
      
      </div>
      <div class=" right"> 
      
        <div class=" box"> 

        </div>
        <div class=" box"> 

          </div>
          <div class=" box"> 

            </div>
            <div class=" box"> 

              </div>
     
        </div>
  </div>
  
</div>